* {
  margin: 0;
  padding: 0;
}

.mainHeading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  color: white;
  background-color: black;
  padding-top: 10px;
}

.productContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.headingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.heading {
  font-size: 28px;
}
